<div class="container" ng-app="inception" ng-controller="formController">
  <div class="row">

    <form class="form col-sm-12 col-md-6 col-md-offset-3">
      <div class="row">
        <div ng-show="invalid">'Please complete the following fields: Full Name, Email, Project Repo, Project URL.'</div>
        <div class="form-group col-sm-12 col-md-12">
          <input ng-model="user.full_name" class="form-control" placeholder="full name" id="full_name" type="text" class="validate">
        </div>

        <div class="form-group col-sm-12 col-md-12">
         <input ng-model="user.email" class="form-control" id="email" placeholder="email" type="email" class="validate">
       </div>

       <div class="form-group col-sm-12 col-md-12">
         <input ng-model="user.project_repo" class="form-control" placeholder="project repo" id="project_repo" type="text" class="validate">
       </div>

       <div class="form-group col-sm-12 col-md-12">
         <input ng-model="user.project_url" class="form-control" placeholder="project url" id="project_url" type="text" class="validate">
       </div>

      <!-- ratings  -->
      <div class="form-group col-md-12 rate" ng-repeat="rating in ratings">
        <div class="row">
          <div class="col-xs-8 col-md-8 valign">
            <span class="rate-title">{{rating.name | uppercase}}:</span>
          </div>
          <div class="col-xs-4 col-md-2 col-md-offset-2">
            <input class="form-control" id="" type="number" ng-model="rating.rating" class="validate">
          </div>
        </div>
      </div>

       <div class="form-group col-sm-12 col-md-12">
         <button class="form-control btn btn-default" ng-click="addUser()" >SUBMIT</button>
       </div>


      </div>
    </form>

  </div>
</div>

<!--
<script src="https://use.typekit.net/tmb8zzs.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script> -->
