<div class="container">
  <div class="row">
    <h1>FORM Survey</h1>
    <form class="" action="index.html" method="post">
      <input type="text" name="name" value="">
    </form>
  </div>

</div>

<script src="https://use.typekit.net/tmb8zzs.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
