<div class="container">
  <div class="row">

    <form class="form col-sm-12" action="index.html" method="post">
      <div class="row">

        <div class="form-group col-sm-12 col-md-6 col-md-offset-5">
          <input placeholder="full name" id="full_name" type="text" class="validate">
        </div>

        <div class="form-group col-sm-12 col-md-6 col-md-offset-5">
         <input id="email" placeholder="email" type="email" class="validate">
       </div>

       <div class="form-group col-sm-12 col-md-6 col-md-offset-5">
         <input placeholder="project repo" id="project_repo" type="text" class="validate">
       </div>

       <div class="form-group col-sm-12 col-md-6 col-md-offset-5">
         <input placeholder="project url" id="project_url" type="url" class="validate">
         <button type="submit" class="btn btn-default">SUBMIT</button>
       </div>


      </div>
    </form>

  </div>
</div>

<script src="https://use.typekit.net/tmb8zzs.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
