/*// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


.container {
  margin: 3% 0 0 0;
}

/* form*/

form {
  background-color: #456990;
}

.form {
  padding: 1%;
  font-family: 'Museo Sans';
}


.form-control{
  border-radius: 0 !important;
  background-color: #E4FDE1 !important;

}


.form-group{
  padding: 0 3% 0 3%;
}


/* placeholder*/
input {
  font-family: 'Raleway', sans-serif !important;
  text-transform: uppercase;


}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #456990 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #456990;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #456990;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #456990;
}


input placeholder {
  color:  !important;

}




button.form-control.btn.btn-default {
    background-color: #F45B69 !important;
    border-radius: 0 !important;
    border: none;

}
